<ng-container *ngIf = "single==true; then singleOglas; else multiOglas"></ng-container>
<ng-template #singleOglas>
    <div [class]="resolveBackground()">
        <div class="oglasi">
            <div *ngIf="yearTitle!=null" class="title">
                Oglas - {{yearTitle}}
            </div>
            <app-oglas [data]="singleData" color="{{color}}" language="{{language}}" [single]="true" [short]="false" yearId="{{yearId}}"></app-oglas>
        </div>
    </div>
</ng-template>
<ng-template #multiOglas>
    <div class="oglasi" [class]="resolveBackground()">
        <app-pagination [offset]="offset" [paginate]="paginate" [numOfItems]="announcements.length" [show] = "show">
            <div @customFade class="oglasi-list pagination-content">
                <div *ngIf="yearTitle!=null" class="title">
                    Oglasi - {{yearTitle}}
                </div>
                <div *ngIf="currentAnnouncements?.length > 0; then announcementsList else noAnnouncements"></div>
                <ng-template #announcementsList>
                    <app-oglas *ngFor="let an of currentAnnouncements" [data]="an" color="{{color}}" language="{{language}}" [single]="false" [short]="false" yearId="{{yearId}}"></app-oglas>
                </ng-template>
                <ng-template #noAnnouncements>
                    <div class="no-announcements">
                        Nema dostupnih oglasa
                    </div>
                </ng-template>
            </div>
        </app-pagination>
    </div>
</ng-template>
