.oglasi{
    padding: 1%;
    background-size: cover;
    padding-bottom: 50%;
    margin: auto;
    min-height: 100vh;
}

.title{
    color: white;
    text-align: center;
    font-size: 250%;
    font-weight: 700;
    margin-bottom: 3%;
}