/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
.text-blue, .text-blue>a, .footer-blue{
    color: #7ee1fa !important
}
.text-blue:hover, .text-blue>a:hover{
    color: white !important;
}
.card-blue{
    background-color: #22768b;
    color: white;
    transition-property: background-color;
    transition: ease-in-out 1s;
}
.title-blue{
    background-color: #45a7c0;
    color: white;
    transition: ease-in-out 1s;
    transition-property: background-color;
}
.text-green, .text-green>a, .footer-green{
    color: #529e1f !important;
    transition: ease-in-out 1s;
    transition-property: background-color;
}
.text-green:hover, .text-green>a:hover{
    color: white;
    transition: ease-in-out 1s;
    transition-property: background-color;
}

.text-green>a:hover{
    color: white !important;
}
.card-green{
    background-color: #286400;
    color: white;
    transition: ease-in-out 1s;
    transition-property: background-color;
}
.title-green{
    background-color: #529e1f;
    color: white;
    transition: ease-in-out 1s;
    transition-property: background-color;
}
.nav-background{
    background-color: #343a40 !important;
}

.background-green{
    background: url('./assets/binary_image_background_green.jpeg');
    transition: ease-in-out 1s;
}
.background-blue{
    background: url('./assets/binary_image_background_blue.jpeg');
    transition: ease-in-out 1s;
}

.oglasi{
    padding: 1%;
    background-size: cover !important;
    padding-bottom: 50%;
    min-height: 100vh;
}

.oglasi-list{
    width: 80%;
    margin: auto;
}

.title{
    color: white;
    text-align: center;
    font-size: 250%;
    font-weight: 700;
    margin-bottom: 3%;
}

.no-announcements{
    color: white;
    text-align: center;
    padding: 10%;
    font: 700 2.5em;
}

@media only screen and (max-width: 320px){
    .oglasi-list{
        width: 95%;
    }
}