.homepage-title{
    padding: 5% 0 5% 0;
}

.homepage{
    background-size: cover;
    padding-bottom: 20%;
}

.homepage-oglasi{
    width: 80%;
    margin: auto;
}

.homepage-section-title{
    width: 100%;
    color: white;
    text-align: center;
    font-weight: 700;
    margin: 5% 0 2% 0;
    padding: 1% 0;
    border-radius: 10px;
    cursor: pointer;
}

.homepage-section-title:hover{
    opacity: 0.8;
}